<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logLayout" value="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
  <variable name="appName" value="MyHeroesClicker" />
  <variable name="logRoot" value="${specialfolder:folder=LocalApplicationData}/MyHeroesClicker/logs" />

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" timeToSleepBetweenBatches="2000" />

    <target xsi:type="File" name="userFile" fileName="${logRoot}/user/current.log"
            layout="${logLayout}" archiveFileName="${logRoot}/user/{####}.log" archiveNumbering="Date"
            archiveEvery="Day" archiveDateFormat="dd-MM-yyyy" maxArchiveFiles="14"/>

    <target xsi:type="File" name="backendFile" fileName="${logRoot}/backend/current.log"
            layout="${logLayout}" archiveFileName="${logRoot}/backend/{####}.log" archiveNumbering="Date"
            archiveEvery="Day" archiveDateFormat="dd-MM-yyyy" maxArchiveFiles="7"/>

    <target xsi:type="File" name="crashFile" fileName="${logRoot}/crash/current.log"
            layout="${logLayout}" archiveFileName="${logRoot}/crash/{####}.log" archiveNumbering="Date"
            archiveEvery="Day" archiveDateFormat="dd-MM-yyyy" maxArchiveFiles="30"/>

    <target xsi:type="ColoredConsole" name="console" detectConsoleAvailable="true" encoding="utf-8" layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="MyHeroesClicker.API.Modules.Services.ScenarioRunLogger" minlevel="Info" writeTo="userFile" />
    <logger name="MyHeroesClicker.API.Modules.Services.ScenarioTabRunLogger" minlevel="Info" writeTo="userFile" />
    <logger name="MyHeroesClicker.*" minlevel="Debug" writeTo="backendFile" />
    <logger name="MyHeroesClicker.*" minlevel="Error" writeTo="crashFile" />
    <logger name="MyHeroesClicker.*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
